.page-content-container {
  width: 719px;
  display: block;
  margin: 0 auto;
}
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: $laptop-br) {
  .page-content-container {
    width: 672px;
  }
}

@media only screen and (max-width: $mobile-br) {
  .page-content-container {
    width: 100%;
    padding: 0 24px;
  }
}
