.page-content-container {
  width: 730px;
  display: block;
  margin: 0 auto;
}
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &--center {
    align-items: center;
  }
  &--stretch {
    align-items: stretch;
  }
}
.flex-col {
  display: flex;
  flex-direction: column;
  &--space-between {
    justify-content: space-between;
  }
}
.word-wrap {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}
@media only screen and (max-width: $laptop-br) {
  .page-content-container {
    width: 672px;
  }
}

@media only screen and (max-width: $mobile-br) {
  .page-content-container {
    width: 100%;
    padding: 0 24px;
  }
}
