$headerColor: orangered;
$paragraphColor: green;

$base-bg-col: #ffffff;
$light-bg: #f8f8fb;
$light-primary: #7c5dfa;
$light-grey-text: #7e88c3;

$primary: #7c5dfa;
$danger: #ec5757;
$hash-color: #888eb0;

// Light theme
$normal-text: #0c0e16;
$light-text-1: #7e88c3;
$light-text-2: #858bb2;
$border-col: #dfe3fa;
$default: #f9fafe;
$default-button-hover: #dfe3fa;
$nav-color: #373b53;
$page-bg: #f8f8fb;
$item-bg: #ffffff;

// Dark theme
// $normal-text: #ffffff;
// $light-text-1: #dfe3fa;
// $light-text-2: #ffffff;
// $border-col: #252945;
// $default: #252945;
// $default-button-hover: #ffffff;
// $nav-color: #1e2139;
// $page-bg: #141625;
// $item-bg: #1e2139;
