@import "../../styles/variables";

.invoice-display-card {
  margin-top: 64px;
  .invoice-display-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $item-bg;
    border-radius: 8px;
    height: 88px;
    margin-top: 32px;
    margin-bottom: 24px;
    padding: 20px 32px;

    .status {
      margin-left: 16px;
    }
    .buttons-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: auto;
      button:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
  .invoice-item-title {
    margin-bottom: 8px;
  }
  .invoice-item-light {
    margin-bottom: 12px;
  }
  .invoice-display-main {
    display: flex;
    flex-direction: column;
  }
  .invoice-mid {
    margin-top: 21px;
  }
  .invoice-address {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
}
