@import "../../styles/variables";

.invoice-display-card {
  margin-top: 64px;

  .invoice-display-head,
  .invoice-display-main {
    border-radius: 8px;
  }

  // Main Blocks (Rows)
  .invoice-display-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $item-bg;
    border-radius: 8px;
    height: 88px;
    margin-top: 32px;
    margin-bottom: 24px;
    padding: 20px 32px;

    .status {
      margin-left: 16px;
    }
    .buttons-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: auto;
      button:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
  .invoice-display-main {
    display: flex;
    flex-direction: column;
    background-color: $item-bg;
    padding: 48px;
  }

  // Row Items
  .invoice-mid {
    margin-top: 21px;
    margin-bottom: 45px;
  }

  // Individual Items
  .invoice-item-title {
    margin-bottom: 8px;
  }
  .invoice-item-light {
    margin-bottom: 12px;
  }
  .invoice-address {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  .invoice-email-col {
    width: 235px;
  }
  .invoice-bill-col {
    padding-bottom: 3px;
  }
}
